// Reset styling
@import url('https://fonts.googleapis.com/css?family=Hind+Siliguri&display=swap');

* {
    box-sizing: border-box;
}

body, html, .container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Hind Siliguri', sans-serif;
}

// Custom variables
$cell-size: 70px;
$cell-border: 1px;

// Custom styling
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid {
    &:nth-child(n) {
        box-shadow: inset $cell-border $cell-border 0 0 #000;
    }

    &:nth-child(3n) {
        box-shadow: inset $cell-border $cell-border 0 0 #000, inset -1 * $cell-border 0 0 0 #000;
    }

    &:nth-child(n+7) {
        box-shadow: inset $cell-border $cell-border 0 0 #000, inset 0 -1 * $cell-border 0 0 #000;
    }

    &:nth-child(9) {
        box-shadow: inset 0 0 0 $cell-border #000;
    }
}

.sudoku {
    width: 9 * $cell-size;
    height: 9 * $cell-size;
    min-width: 9 * $cell-size;
    min-height: 9 * $cell-size;
    display: flex;
    flex-wrap: wrap;
    box-shadow: inset 0 0 0 2 * $cell-border #000;
    user-select: none;
}

.box {
    height: 3 * $cell-size;
    width: 3 * $cell-size;
    display: flex;
    flex-wrap: wrap;
}

.cell {
    width: $cell-size;
    height: $cell-size;
    padding: floor($cell-size / 8);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: $cell-size / 2;

    &:hover {
        background-color: #d6f8ff;
    }

    &.active {
        background-color: #d6edff;
    }
}

.cand {
    width: floor($cell-size / 4);
    height: floor($cell-size / 4);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $cell-size / 4;
    color:#999;
    
    &.hidden {
        visibility: hidden;
    }
}

.header {
    width: 9 * $cell-size;
    min-width: 9 * $cell-size;
    display: flex;
    justify-content: center;

    h1 {
        display: inline;
        user-select: none;
    }
}

.footer {
    width: 9 * $cell-size;
    min-width: 9 * $cell-size;
    padding: 30px 5px;
    height: 100px;
    display: flex;
    justify-content: space-between;

    a {
        height: 100%;
        width: 200px;
        background-color: #fff;
        border: 2px solid #000;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: black;
        font-weight: bold;
        transition: transform .4s, box-shadow .4s;

        &:hover {
            transform: translateY(-5px);
            box-shadow: 0px 10px 18px -5px rgba(0,0,0,0.5);
        }
    }
}